<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper10">	
<!-- 
mapping.xml 마지막 파일
이곳에 그동안 기술을 전부다 집어넣을것이다.
resultMap, parameterType, resultType, delete, insert, update, dynamic, sql
 -->
<resultMap type="user" id="userSelectRM">
	<result property="userId" column="user_id"/>
	<result property="userName" column="user_name"/>
	<result property="password" column="password"/>
	<result property="age" column="age"/>
	<result property="grade" column="grade"/>
	<result property="regDate" column="reg_date"/>
</resultMap>


<sql id="select-users">
	SELECT
	user_id, user_name, password, age, reg_date
	FROM users
</sql>
<sql id="order-userid-desc">
	ORDER BY user_id DESC
</sql>

<!--  insert, delete, update  -->
<insert id="addUser" parameterType="user">
		INSERT 
		INTO users(user_id, user_name, password, age, grade, reg_date)
		VALUES(
			#{userId},
			#{userName},
			#{password},
			#{age},
			#{grade},
			#{regDate}
		)
</insert>
<update id="updateUser" parameterType="user">
		UPDATE users
		SET user_name=#{userName}
		WHERE user_id=#{userId}	
</update>
	
<delete id="removeUser" parameterType="string">	
		DELETE 
		FROM users
		WHERE user_id=#{VALUE}	
</delete>

<!--  정적쿼리 -->
<select id="getUser" parameterType="string" resultMap="userSelectRM">
	<include refid="select-users" />
		WHERE user_id=#{VALUE}
</select>

<!--  동적쿼리 -->
<select id="getUserList" parameterType="user" resultMap="userSelectRM">
	<include refid="select-users" />
	<where>
		<if test="userName != null ">
			user_name LIKE #{userName} 
		</if>
		<if test="age != null ">
			OR age LIKE #{age}
		</if>
	</where>
	<include refid="order-userid-desc" />
</select>
</mapper>















